*.o
*.lo
*.la
.deps
.libs
Doxyfile
Makefile
Makefile.in
configure
config.log
config.status
config.h
config.h.in
libtool
stamp-h1
aclocal.m4
autom4te*
m4/libtool.m4
m4/lt*.m4
scripts
drmaa_utils/drmaa_utils/drmaa-run
drmaa_utils/drmaa_utils/hpc-bash
